body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #333333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    opacity: 0.1;
    height: 1px;
    background-color: #787ccc;
}

/*header contacts================================================================================*/
.intro {
    width: 100%;
    height: 840px;
    background: url(../img/intro/introback.jpg);
}

.header__contacts-inner {
    display: flex;
    justify-content: space-between;
}

.header__contacts {
    display: flex;
    padding: 20px 0 20px 0;
}

.header__livechat {
    display: flex;
    align-items: center;
}
#header__chat-icon {
    font-size: 12px;
    padding-right: 15px;
    color: #ffffff;
    transition: color 0.2s linear;
}
#header__chat-icon:hover {
    color: #00aeef;
}
.header__chat-text,
.header__phone-text,
.header__mail-text {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    transition: color 0.2s linear;
}
.header__chat-text:hover {
    color: #00aeef;
}
.header__phone {
    display: flex;
    align-items: center;
}
#header__phone-icon {
    font-size: 12px;
    padding: 0 15px 0 48px;
    color: #ffffff;
}

.header__mail {
    display: flex;
    align-items: center;
}
#header__mail-icon {
    font-size: 12px;
    padding: 0 15px 0 55px;
    color: #ffffff;
}

.header__profile {
    padding-top: 20px;
}

.header__buy-btn {
    font-size: 14px;
    padding: 7px 9px 7px 8px;
    border-radius: 50%;
    background-color: #00aeef;
    color: #ffffff;
    transition: background-color 0.2s linear;
}
.header__buy-btn:hover {
    background-color: #ffffff;
    color: #00aeef;
}

.header__profile-btn {
    margin-left: 15px;
    font-size: 14px;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #00aeef;
    transition: background-color 0.2s linear;
}
.header__profile-btn:hover {
    background-color: #00aeef;
    color: #ffffff;
}

/* header menu =========================================================================*/
.header {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    width: auto;
    height: auto;
}
.header__menu {
    display: flex;
    padding-top: 16px;
}
.header__menu-item {
    padding-left: 55px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    transition: color 0.2s linear;
}
.header__menu-item:hover {
    color: #00aeef;
}

/* intro ============================================================================== */
.intro__title {
    padding-top: 175px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.intro__content-inner {
    display: flex;
    justify-content: center;
}
.intro__image-polygon {
    position: relative;
    left: 10px;
    padding: 40px 55px 0 55px;
}
.intro__polygon-firsttext {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    top: 70px;
    left: 70px;
    width: 100%;
}
.intro__polygon-text {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    top: 70px;
    left: 70px;
    width: 100%;
}
#intro__circle-icon {
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    top: 75px;
    left: 85px;
    width: 100%;
}
